
<div class="row">
	<form>
		<ul class="list-group">
			<li class="list-group-item toolbar">
				<div class="col-xs-2 text-left"></div>
				<div class="col-xs-8 text-center">
					Login
				</div>
				<div class="col-xs-2 text-right">
					<button class="btn" type="submit" ng-click="action.login(credentials)">Login</button>
				</div>
			</li>
			<li class="list-group-item item">
				<label for="username" class="sr-only">Username</label>
				<input style="background-color: #DDD;" id="username" name="username" class="form-control" placeholder="Username" required autofocus ng-model="credentials.username" autofocus>
			</li>
			<li class="list-group-item item">
				<label for="password" class="sr-only">Password</label>
				<input style="background-color: #DDD;" id="password" name="password" type="password" class="form-control" placeholder="Password" required ng-model="credentials.password">
			</li>
		</ul>
		<div ng-show="loginError" class="alert alert-danger">
			{{loginError}}
		</div>
	</form>
</div>
