
html, body {
	background-color: #CCC;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: bold;
	height: 100%;
}

.list-group-item {
	background-color: inherit;
}

.list-group-item.toolbar {
	background-color: #AAA;
	border: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #888;
	padding: 10px;
	color: white;
	line-height: inherit;
	height: 44px;
}
.list-group-item.toolbar .btn {
	margin-top: -9px;
	margin-left: -4px;

	border-radius: 5px;
	border: 1px solid #777;
    color: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #ccc -25%, #aaa 75%);
    background-image: -moz-linear-gradient(top, #ccc -25%, #aaa 75%);
    background-image: -ms-linear-gradient(top, #ccc -25%, #aaa 75%);
    background-image: -o-linear-gradient(top, #ccc -25%, #aaa 75%);
    background-image: linear-gradient(top, #ccc -25%, #aaa 75%);
}
.list-group-item.toolbar .btn:hover, .list-group-item.toolbar .btn:active {
    background-image: -webkit-linear-gradient(top, #b3b3b3 -25%, #4d4d4d 75%);
    background-image: -moz-linear-gradient(top, #b3b3b3 -25%, #4d4d4d 75%);
    background-image: -ms-linear-gradient(top, #b3b3b3 -25%, #4d4d4d 75%);
    background-image: -o-linear-gradient(top, #b3b3b3 -25%, #4d4d4d 75%);
    background-image: linear-gradient(top, #b3b3b3 -25%, #4d4d4d 75%);
}

.list-group-item.item {
	padding: 0px;
	border: none;
	border-bottom: 1px solid #E0E0E0;
	line-height: normal;
}

.list-group-item.item a {
	display: block;
	padding: 8px 32px 8px 10px;
	color: black;
}
/*.list-group-item.item a:before {
  content: "\e258";
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: relative;
  color: black;
  right: 100%;
  top: 50%;
  z-index: 1;
}*/
.list-group-item.item a:hover, .list-group-item.item a:active, .list-group-item.item a:focus {
	text-decoration: none;
}
.list-group-item.item a:active {
	background-color: #194fdb;
	background-image: -webkit-linear-gradient(top, #4286f5 -25%, #194fdb 75%);
	background-image: -moz-linear-gradient(top, #4286f5 -25%, #194fdb 75%);
	background-image: -ms-linear-gradient(top, #4286f5 -25%, #194fdb 75%);
	background-image: -o-linear-gradient(top, #4286f5 -25%, #194fdb 75%);
	background-image: linear-gradient(top, #4286f5 -25%, #194fdb 75%);
}

.list-group-item.item small {
	color: grey;
	font-size: 0.5em;
	display: block;
}
